<!DOCTYPE html>
<html lang="en">
<head>
<title>列表信息</title>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,user-scalable=no" />
<link rel="icon" href="${webPath!}assets/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="${webPath!}assets/webjars/bootstrap/3.0.0/css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="${webPath!}assets/css/custom.css"/>
<link rel="stylesheet" type="text/css" href="${webPath!}assets/css/swiper.min.css"/>
<script src="${webPath!}assets/webjars/jquery/1.9.0/jquery.js"></script>
<script src="${webPath!}assets/webjars/bootstrap/3.0.0/js/bootstrap.js"></script>
<script src="${webPath!}assets/js/swiper.min.js"></script>
<script src="${webPath!}assets/js/main.js"></script>
<script type="text/javascript">
function search(){
	var keyword = $("#keyword").val();
	if(keyword != null || keyword != ''){
		$("#search").submit();
	}
}
</script>
</head>
<style>
.swiper-slide {
    text-align: center;
    color: #919191;
}
.col-center-block {  
    float: none;  
    display: block;  
    margin-left: auto;  
    margin-right: auto;  
}
a {
    text-decoration: none;
    color: #428bca;
}
</style>
<body>
<!--头部导航begin-->
<header>
    <div class="contained clearfixd">
        <div class="logo fl">
            <!-- <img class="middle" src="images/logo.png" alt="logo"/> -->
        </div>
        <ul class="navd fl">
            <li class="fl"><a href="goodsIndex.html">推荐</a></li>
            <li class="fl"><a class="current" href="goodsList.html">列表</a></li>
        </ul>
        <div class="search fr rlt">
            <form action="goodsList" method="post">
                <input class="hide abs" id="keyword" name="goodName" type="text" placeholder="查询商品名称"/>
                <input class="middle" id="search" type="button" onclick="search()" />
            </form>
        </div>
    </div>
</header>
<!--头部导航end-->
<!--轮播图begin-->
<div class="demo1">
	<div class="swiper-container">
	    <div class="swiper-wrapper">
	    <#list map.bannerList as b>
	        <div class="swiper-slide">
	        	<a href="${b.gotourl!}">
	        		<img class="auto" src="${webPath!}assets/${b.bannerurl!'images/slider.jpg'}" alt="${b.title!}" />
	        	</a>
	        </div>
        </#list>
	    </div>
	    <!-- Add Pagination -->
	    <div class="swiper-pagination"></div>
	</div>
</div>
<!--轮播图end-->
<!--筛选结果显示begin-->
<div class="recommend clearfixd" style="background-color: white;border-top: 1px solid #dbdbdb;border-bottom: 1px solid #dbdbdb;padding: 20px 0">
    <div class="contained">
    	<#list map.pager.list as p>
		<dl class="fl" <#if (p_index-1)%3==0 >style="margin: 0 2%"</#if>>
			<dt>
				<a href="getGoods?id=${p.id}">
					<img class="auto" src="${webPath!}assets/${p.goodspicurl!'images/movie1.jpg'}" alt="${p.goodsname!}"/>
				</a>
		    	<!--显示评分-->
				<!-- <div class="score abs">8.5分</div> -->
			</dt>
			<dd><a style="color: #000" href="getGoods?id=${p.id}">${p.goodsname!}</a></dd>
		</dl>
		</#list>
    </div>
</div>
<div class="clear"></div> 
<div class="col-md-4 col-center-block page" style="text-align: center;">
	<span id="paginationed"></span>
</div>
<script src="${webPath!}assets/js/jqPaginator.js"></script>
<script>
$(document).ready(function() {
	$.jqPaginator("#paginationed",{
        totalCounts: ${map.pager.records?c},
        pageSize:${map.pager.rows?c},
        visiblePages: 3,
        currentPage: ${map.pager.page?c},
        activeClass: "current",
        first: '<a class="first" href="javascript:;">首页</a>',
        prev: '<a class="prev" href="javascript:;">上一页</a>',
        next: '<a class="next" href="javascript:;">下一页</a>',
        last: '<a class="last" href="javascript:;">尾页</a>',
        page: '<a href="javascript:;">{{page}}</a>',
        onPageChange: function (num) {
        	if(num!=${map.pager.page}){
        		window.location.href="${webPath!}/goodsList.html?currentPage="+num;
        	}
        }
    });
});
</script>
<!--筛选结果显示end-->
</body>
<div class="full hide"></div>
<!--底部begin-->
<div class="foot1">
    Copyright© 2017 imocence@foxmail.com
</div>
</body>
</html>
